form(action="." method="GET")
    label(for="type") Type:
    input(
        type="checkbox"
        id="type"
        name="type"
    )

    label(for="email") Email:
        input(
        type="email"
        id="email"
        name="email"
        )

    input(type="submit" value="Submit")